.search-bar:hover {
  background-color: #d8cececc;
  cursor: pointer;
}

.form-search {
  width: 50%;
}

.search-tab-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-search[tabindex] {
  outline: none;
}
