#contained-modal-title-lg {
  text-align: center;
}

.basket-description-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.basket-nutritient {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28A54C;
}

.food-calorie-name {
  font-size: 1.3rem;
  color: #999;
}
.basket-qty {
  padding: 2px 3px;
  text-align: center;
}

.basket-food-name {
  text-align: left;
}

.basket-row {
  justify-content: space-evenly;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}
.basket-form {
  margin-bottom: 0;
}
.modal-body {
  padding: 0;
}

.calorie-basket-row {
  justify-content: space-between;
  background-color: #c1c5c9;
  padding: 10px 15px;
}

.nutrient-basket-row {
  justify-content: space-between;
  background-color: #9c909e36;
  padding: 10px 15px;
}

.nutrient-basket-row .basket-description-group:not(:last-child) {
  border-right: 1px solid #c1c5c9;
}


.form-search {
  position: relative;
}
#tabs-with-dropdown, #dropdown-menu {
position: absolute;
top: 100%;
width: 100%;
left: 0;
z-index: 1000;
background-color: #fff;
margin: 0;
}
.grid-instance {
  width: 100% !important;
}

.info-circle {
  cursor: pointer;
  margin-top: 9px
}
