.red {
  background-color: red;
}
.green {
  background-color: green;
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
  color: #333;
}

.custom-calendar .react-calendar__month-view__days__day--weekend:focus,
.custom-calendar .react-calendar__month-view__days__day--weekend:active,
.custom-calendar .react-calendar__tile--active{
  color: white;
  background-color: #1087ff !important;
}
