.search-bar:hover {
  background-color: #d8cececc;
  cursor: pointer;
}


.search-tab-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .form-search {
  max-height: 500px;
  overflow-y:scroll;
} */
.form-search[tabindex] {
  outline: none;
}
