#root .food-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow-x: auto;
}
.food-description-group-1,
.food-description-group-2 {
 display: flex;
 flex-direction: column;
 align-items: stretch;
}
.food-description-group-2 {
  text-align: right;
}
.food-description-group-2 span:nth-child(2) {
  font-size: 1.3rem;
  color: #999;
}
.food-description-group-2 span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28A54C;
}
#root .food-name {
  font-weight: 600;
}
#root .food-name::first-letter {
  text-transform: uppercase
}
#root .food-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  flex-grow: 2;
}

.food-size {
  font-size: 1.4rem;
  color: #999;
}

.food-group-title {
  font-size: 1.7rem;
  color: #337ab7;
  font-weight: bold;
  margin-left: 2rem;
}

.food-tab .nav-tabs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

   /* <Tab.Container id="left-tabs-example" defaultActiveKey="first">
        <Row className="clearfix">
          <Col xs={6}>
            <Nav bsStyle="pills" stacked>
              <NavItem eventKey="first">Tab 1</NavItem>
              <NavItem eventKey="second">Tab 2</NavItem>
              <NavItem eventKey="third">Tab 3</NavItem>
              <NavItem eventKey="forth">Tab 4</NavItem>
              <NavItem eventKey="fifth">Tab 5</NavItem>
            </Nav>
          </Col>
          <Col xs={6}>
            <Tab.Content animation>
              <Tab.Pane eventKey="first">
                {self.length ? foodListGroup('Your Foods', <FoodListItem foods={self} />) : null}
                {common.length ? foodListGroup('Common food', <FoodListItem foods={common} />) : null}
                {branded.length ? foodListGroup('Branded food', <FoodListItem foods={branded} />) : null}
                {freeform ? foodListGroup('Freeform', freeform) : null}
              </Tab.Pane>
              <Tab.Pane eventKey="second">Tab 2 content</Tab.Pane>
              <Tab.Pane eventKey="third">Tab 2 content</Tab.Pane>
              <Tab.Pane eventKey="forth">Tab 2 content</Tab.Pane>
              <Tab.Pane eventKey="fifth">Tab 2 content</Tab.Pane>
            </Tab.Content>
          </Col>
        </Row>
      </Tab.Container>   */