.calorie-total-row {
  justify-content: space-between;
  background-color: #c1c5c9;
  padding: 10px 15px;
}
.nutrient-total-row {
  justify-content: space-between;
  background-color: #9c909e36;
  padding: 10px 15px;
}
.total-description-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.total-nutritient {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28A54C;
}

.nutrient-total-row .total-description-group:not(:last-child) {
  border-right: 1px solid #c1c5c9;
}
